body {
    background-image: url('https://picsum.photos/2160/1080');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: 'PT Serif', serif;
}

.content-box {
    background-color: rgb(245, 245, 245, 0.9);
    color: black;
    height: 100%;
    width: 80%;
}

.content {
    padding: 20px;
    overflow: auto;
    letter-spacing: 0.03em;
    text-align: justify;
    text-justify: newspaper;
}

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr;
}

.imageFace {
    width: 100%;
    max-width: 250px;
}

a {
    color: blue;
}

h2 {
    font-size: 3em;
}

p, li {
    font-size: 1.3em;
    line-height: 1.3em;
}

section {
    margin: 5%;
}

button {
    float: right;
    padding: 5px 15px;
    font-size: 1.05em;
    background-color: black;
    color: rgb(245, 245, 245);
    border-radius: 2px;
    border: 0;
    font-family: inherit;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: 0;
}
 
 /* added for Firefox compatability */
button::-moz-focus-inner { border:0; }

@media only screen and (max-width: 768px) {
    .content-box {
        min-width: 100%;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .imageFace {
        width: 40%;
    }
}
