body {
    font-family: "Roboto Slab", serif;
    font-size: 1.1em;
    background-color: rgb(245, 245, 245);
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-areas: "left content right";
}

h1 {
    font-size: 2em;
    margin: 10px 0;
}

section {
    padding-bottom: 20px;
}

.journey_desc {
    padding-top: 10px;
}

.justify {
    text-align: justify;
    text-justify: newspaper;
}

article {
    grid-area: content;
    margin-top: 10px;
}

button {
    float: right;
    padding: 10px 10px;
    font-size: 1.05em;
    background-color: black;
    color: rgb(245, 245, 245);
    border-radius: 50%;
    margin-top: 10px;
    font-family: inherit;
}

.journey li {
    padding-bottom: 15px;
}

.journey_time {
    float: right;
}

#social img {
    padding: 0 5px;
    width: 40px;
}

@media only screen and (max-width: 768px) {
    body {
        grid-template-columns: 1fr 10fr 1fr;
        grid-template-areas: "left content right";
    }
}
